{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}


<div class="container">
    <h1 class="text-center">Blogs  page</h1>
    {% for blog in blogs_list %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ blog.blog_title }}</h3>
                <p class="card-text">{{ blog.blog_body }}</p>
                <a href="{{ url_for('main.blog', blog_id = blog.id) }}" class="btn btn-primary">View</a>
            </div>
        </div>
        <hr>
    {% endfor %} 




    <form method="POST" action="">
        {{wtf.quick_form(form)}}
    </form>


    
    
</div>


{% endblock content %}
