{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}


<div class="container"> 
    
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ blog.blog_title }}</h3>
            <p class="card-text">{{ blog.blog_body }}</p>
        </div>
    </div>
    <hr>
    

    {% for comment in comments_list %}
      <p>{{ comment.comment }}</p>  
    {% endfor %}  
    
    <form method="POST" action="">
        {{wtf.quick_form(commentform)}}
    </form>   
</div>


{% endblock content %}




