{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="introduction text-center">
        <div class="intro">
            <h1>WRITE YOUR OWN <br> PERSONAL BLOG</h1>
            <a href="{{ url_for('auth.login') }}">
                <div class="btn btn-primary">
                    <p>BEGIN NOW</p>
                </div>
            </a>    
        </div>
    </div>
</div>

{% endblock content %}